/*AnthonyTamayo css file*/
body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  line-height: 5px;
  text-align: center;
  background-size: 100% 100%;
  margin-top: -3em;
  margin-right: -1.5em;
  margin-left: -1em;
  color: beige;
  font-weight: 100;
  letter-spacing: 1.5px;
}

intro {
  margin-top: -1em;

}
.gradient {

  /* can be treated like a fallback */
  /*background-color: wheat;*/

  /* will be "on top", if browser supports it */
  /*background-image: linear-gradient(darkblue, wheat);*/

  /* these will reset other properties, like background-position, but it does know what you mean */
  background: wheat;
  background: linear-gradient(darkslategrey, grey);
}

h1 {
  padding-top: 7vw;
  margin: 1vw;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 80px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 100;
  line-height: 50px;
  color: beige;
  letter-spacing: 1px;
  
}

h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 45px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 50px;
  margin: 1vw;
  padding-bottom: 1vw;
  color: beige;
  letter-spacing: 1px;
}

#main {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  max-width: 100%;
  margin: 0;
  text-align: center;
  color: beige;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-left: 50px;
  line-height: 12px;
  letter-spacing: 1.5px;
}

#main2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  max-width: 100%;
  margin: 0;
  text-align: center;
  color: beige;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  line-height: 12px;
  letter-spacing: 1.5px;
}

#pic {
  max-width: 600px;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;

}

ul {
  border-top: 1px solid beige;
  padding-top: 43px;
  width: 40%;
  margin: 0 auto;

}

li {
  display: inline;
  width: 658px;
    padding: 35px;
    border: 5px;
    margin: 0; 

}

a {
  text-decoration: none;
  color: beige;
}

.links{
  padding-bottom: 30px;
  border-bottom: 20px;
}

.links a:hover {

  color: dimgrey;
  border-top: 3px solid beige;
  text-decoration: none;
  padding-top: 4vh;

}

#social{
  text-align: center;
  vertical-align: center;
}
.fa {
  margin-right: 5px;
  margin-left: 5px;
  padding-bottom: 4vh;
}

#projects {
  background-image: url("WyncodeClass.png");
  height: 950px;
  width: 1725px;
  margin-top: -1em;
  margin-right: 3em;

}

#email {

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 45px;
  font-color: blue;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 50px;
  margin: 1vw;
  padding-bottom: 1vw;
  letter-spacing: 1px;

}

.ProjectPics {
  max-width: 1600px;
  max-height: 500px;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 20px;

}

#PojectPicTitles {
  color: beige;
  }

  #skills {
    background-image: url('LAB.jpg');
    height: 950px;
    width: 1725px;
    margin-top: -1em;
    margin-right: 3em;
  }

  .social {

    margin-left: 3vw;
    margin-right: 3vw;
    height: 10vmax;
    width: 10vmax;
    opacity: .6;

  }

  .social:hover {
    opacity: 1;
  }

#contact {
  background-image: url('payphone.jpg');
  height: 950px;
  width: 1725px;
  margin-top: -1em;
  margin-right: 3em;
}

.row-fluid{
	
	width: 100%;
}
